# ----------------------------------------------------------------------
# Private Files
# ----------------------------------------------------------------------
03_Sources
private
*.private.*
_*.*

# ----------------------------------------------------------------------
# Language & Environment Artifacts
# ----------------------------------------------------------------------
# Build output
bin/
dist/
build/
*.exe
*.out

# IDE files
.vscode/
.idea/

# Python
__pycache__/
*.py[codz]
*$py.class
.venv/

# Java
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ----------------------------------------------------------------------
# Document Processing (LaTeX & Typst)
# ----------------------------------------------------------------------
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

**/report/*.pdf

# ----------------------------------------------------------------------
# OS Specific
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
